/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Roboto', sans-serif;
}
.nav-item{
    padding-left: 50px;
}
.header-section{
    height: calc(100vh - 66px);
    background-color: #FFFBF0;
}
.woman-jacket-section{
    height: 100vh;
    margin-bottom: 30px;
}
.man-jacket-section{
    height: 100vh;
    margin-bottom: 30px;
}

.finding-perfect{
    height: 80vh;
}